<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>gestoreAule</servlet-name>
    <servlet-class>gestioneAule.GestoreAuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestoreAule</servlet-name>
    <url-pattern>/gestoreAule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>gestioneUtente.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/src/Logout</url-pattern>
  </servlet-mapping>
</web-app>